.projects
  - data.projects.each do |project|
    .project_box
      %a(href="#{project[:github]}") 
        %h4= project[:name]
      .web_link
        - if project[:website] != nil
          %h6
            %a(href="#{project[:website]}") View this website
      %h6      
        %p= project[:description]
    
